<template>
  <div class="columns">
    <div class="column is-3">
      <router-link :to="{ name: 'Podcast', params: { idPodcast: this.idPodcast }}" v-bind:class="{ 'cursor': 'Podcast' }">
      <sidebar :image="podcastInfo.artworkUrl600" :name="podcastInfo.collectionName" :artist="podcastInfo.artistName" :description="podcastInfo.description"></sidebar>
      </router-link>
    </div>
    <div class="column">
      <div class="box has-text-left">
        <p><strong>{{episodeInfo.title}}</strong></p>
        <p v-html="episodeInfo.summary"></p>
        <hr/>
        <div>
          <audio id="player" controls preload="none" controlsList="nodownload" ref="player">
            <source :src="episodeInfo.url" type="audio/mp3"> Your browser does not support the audio element.
          </audio>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { loading } from '../main'
import { getPodcastDetail, getEpisodeDetail } from '../api/itunes'

export default {
  name: 'episode',
  data () {
    return {
      episodeInfo: {},
      podcastInfo: {},
      idPodcast: -1,
      idEpisode: -1
    }
  },
  mounted () {
    loading.$emit('loading', true)
    this.idPodcast = this.$route.params.idPodcast
    this.idEpisode = this.$route.params.idEpisode

    getPodcastDetail(this.idPodcast).then(data => {
      this.podcastInfo = data.results[0]
      getEpisodeDetail(this.idEpisode, this.podcastInfo.feedUrl).then(json => {
        this.episodeInfo = json.episode
        this.podcastInfo.description = json.podcastInformation.description
        this.$refs.player.load()
        loading.$emit('loading', false)
      })
    })
  }
}
</script>

<style>
  audio {
    width: 100%;
  }
</style>
