<template>
  <div class="list">
    <div class="columns">
      <div class="column is-1 is-offset-7"><span class="tag is-info is-pulled-right">{{podcastCount}}</span></div>
      <div class="column is-4"><input class="input" type="text" placeholder="Filter podcast..." v-model="search"></div>
    </div>

    <div class="columns is-mobile is-multiline">
      <div class="column is-3" v-for="item in filteredPodcasts" :key="item.id.attributes['im:id']">
        <router-link :to="{ name: 'Podcast', params: { idPodcast: item.id.attributes['im:id'] }}" v-bind:class="{ 'cursor': 'Podcast' }">
          <img :src="item['im:image'][2].label" class="header-img">
          <div class="box list-card">
            <div class="media-half">
              <p class="title">{{ item['im:name'].label }}</p>
              <p class="subtitle">{{ item['im:artist'].label }}</p>
            </div>
          </div>
        </router-link>
      </div>
    </div>
  </div>

</template>

<script>
import { loading } from '../main'
import { getPodcastList } from '../api/itunes'

export default {
  name: 'list',
  data () {
    return {
      podcasts: [],
      search: '',
      podcastCount: 0
    }
  },
  mounted () {
    loading.$emit('loading', true)
    getPodcastList().then((list) => { loading.$emit('loading', false); this.loading = true; this.podcasts = list; this.podcastCount = list.length })
  },
  computed: {
    filteredPodcasts: function () { // filter names and authors
      var self = this
      var list = self.podcasts.filter(function (podcast) {
        return podcast['im:name'].label.toLowerCase().indexOf(self.search.toLowerCase()) !== -1 ||
               podcast['im:artist'].label.toLowerCase().indexOf(self.search.toLowerCase()) !== -1
      })
      self.podcastCount = list.length
      return list
    }
  }
}
</script>

<style>

p.title{
  font-size: 1.5rem;
}

p.subtitle{
  font-size: 0.9rem;
}

.header-img {
  border-radius: 50%;
  border-radius: 50%;
  position: relative !important;
  top: 80px;
  z-index: 1;
}

.list-card{
  padding-top: 90px !important;
}
</style>
