<template>
  <div class="columns">
    <div class="column is-3">
      <sidebar :image="this.info.artworkUrl600" :name="this.info.collectionName" :artist="this.info.artistName" :description="this.info.description"></sidebar>
    </div>
    <div class="column is-9">
      <div class="box"><p class="has-text-left"><strong>Episodes: {{this.episodes.length}}</strong></p></div>

      <div class="box">
        <table class="table is-striped is-fullwidth">
          <thead>
              <tr>
                <th>Title</th>
                <th>Date</th>
                <th>Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="episode in episodes" :key="episode.guid">
                <th>
                  <router-link :to="{ name: 'Episode', params: { idPodcast: idPodcast, idEpisode: episode.guid }}">{{episode.title}}</router-link>
                </th>
                <td>{{episode.date_published | moment}}</td>
                <td>{{episode.duration}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</template>

<script>
import { loading } from '../main'
import { getPodcastDetail, getRss } from '../api/itunes'

export default {
  name: 'podcast',
  data () {
    return {
      episodes: [],
      info: {},
      idPodcast: -1
    }
  },
  mounted () {
    loading.$emit('loading', true)
    this.idPodcast = this.$route.params.idPodcast

    getPodcastDetail(this.idPodcast).then(data => {
      this.info = data.results[0]
      getRss(this.info.feedUrl).then(json => {
        this.episodes = json.episodes
        this.info.description = json.podcastInformation.description
        loading.$emit('loading', false)
      })
    })
  },
  computed: {
    podcastInfo: function () {
      return this.info
    }
  }
}
</script>
