<template>
  <div class="box list-card">
    <img :src="image" class="squareimage">
    <div class="media-half">
      <p class="title">{{ name }}</p>
      <p class="subtitle">{{ artist }}</p>
    </div>
    <div class="content has-text-left">
      <hr/>
      <strong>Description:</strong><br/>{{ description }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'sidebar',
  props: ['image', 'name', 'artist', 'description'],
  data () {
    return {
    }
  }
}
</script>

<style>
p.title{
  font-size: 1.5rem;
}

p.subtitle{
  font-size: 0.9rem;
}

.squareimage{
  border-radius: 0% !important;
  border-radius: 0% !important;
  top: 10px !important;
  -webkit-box-shadow: 0 0px 3px 0 rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  box-shadow: 0 0px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}
</style>
