<template>
  <div id="app">
    <div class="container">
      <nav class="level">
        <!-- Left side -->
        <div class="level-left">
          <div class="level-item">
            <p class="subtitle is-5">
              <router-link :to="{ name: 'List'}">
                Podcast player
              </router-link>
            </p>
          </div>
        </div>
        <div id="loading">
          <circle2 v-if="this.loading"></circle2>
        </div>
      </nav>

      <hr/>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import { loading } from './main'
import {Circle2} from 'vue-loading-spinner'
export default {
  name: 'App',
  components: {
    Circle2
  },
  data () {
    return {
      loading: false
    }
  },
  created () {
    // Using the service bus
    loading.$on('loading', (loading) => {
      this.loading = loading
    })
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
